body{
    background-image: linear-gradient(-20deg, #21ff46 0%, #eefd21 100%);
}
#center{
    border:double;
    position: absolute;
    width: 30%;
    height: 40%;
    top: 30%;
    left: 35%;
}